*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    height:10vh;
    width:100%;
    background-color:rgb(214, 214, 226);
    position:relative;
    left:240px;
}
/* ====navbar==== */
.navLinksForMOBILE{
    display:none;
}
nav{
    
    height:100%;
    min-width:200px;
    position:fixed;
    top:0;
    left:0;
    background-color:rgb(255, 255, 255);
    backdrop-filter:blur(9px);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}
header{
    height:99%;
    width:98%;
    display:flex;
    flex-direction:column;
    
}
.Burger{
    display:none;
}

.CUT{
        display:none;
    }
/* logo */
.logoImage{
    height:70px;
    
}
.logoImage img{
    border-radius:20px;
    padding:5px;
}
.navLinks{
    width:100%;
    padding:20px;
}
.navLinks .navLinksItems{
    display:flex;
    flex-direction:column;
    align-items:center;
    list-style: none;
    gap:20px;
}
.navLinks .navLinksItems li{
    height:70px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    color:rgb(34, 34, 34);
    border-radius:15px;
    font-size:20px;
    cursor:pointer;
}
.navLinks .navLinksItems li:hover{
    background-color:rgb(180, 241, 180);
    transition:all 0.2s ease-out;
}

/*====Mid body=====*/
.container{
    width:100%;
    padding:10px;
    background-color:rgb(181, 252, 158);
    display:flex;
    align-items: center;
    justify-content: center;
    
}
.container .hero{
    display:flex;
    height:98%;
    align-items: center;
    justify-content: start;
    width:99%;
}
.container .hero img{
    max-height:200px;
}
.container .hero .heroTXT{
    max-width:40%;
    max-height:200px;
    display:flex;
    flex-direction:column;
    align-items:start;
    color:rgb(33, 33, 33);
}
.container .hero .heroTXT h5{
    color:rgb(63, 63, 63);
}

/* =====FOR MOBILE===== */


@media (max-width:729px){
    /* ====navbar==== */
    nav{
        width:100%;
        height: 62px;
        display:flex;
        flex-direction:row;
    }
    nav header{
        display:flex;
        flex-direction:row;
        align-items: center;
        justify-content: space-between;
    }
    .logoImage{
        width:190px;
        height:100%;
    }
    .navLinks{
        display: none;
    }
    .navLinksForMOBILE{
        background-color:white;
        display:none;
        flex-direction:column;
        align-items: center;
        gap:20px;
        justify-content: start;
        list-style:none;
    }
    body{
        position: relative;
        top:62px;
        left:0;
    }
    .Burger{
        display:flex;
    }
    .container .hero .heroTXT h1{
        font-size:18px;
    }
    .container .hero .heroTXT h5{
        font-size:10px;
    }
    .container .hero img{
        max-height:160px;
    }
    .container{
        background-color:rgb(181, 252, 158);
    }

}